.container {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0px 0px 10px 10px;
  position: relative;
  
}
.gutter-row {
  padding-right: 10px;
}

.container:after {
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  left: -115px;
  border: -115px solid white;
}
.mainDiv {
  width: 200px;
  height: 50px;
  border: 5px solid red;
  position: relative;
}

.mainDiv:after {
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  top: -5px;
  left: 0px;
  border: 5px solid white;
}
